{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Tendai Resume</title>
	<link rel="stylesheet" href="{% static 'css/style.css'%}">
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>
<body>
	<div class="wrapper">
		<div class="resume">
			<div class="left">
				<div class="img_holder">
					<img src="{% static 'MYCV/clivepic.jpg'%}" alt="picture">
				</div>
				<div class="contact_wrap pb">
					<div class="title">
						Contact
					</div>
					<div class="contact">
              <ul>
                <li>
                  <div class="li_wrap">
                    <div class="icon"><i class="fas fa-mobile-alt" aria-hidden="true"></i></div>
                    <div class="text">+90 533 853 0634</div>
                  </div>
                </li>
                <li>
                  <div class="li_wrap">
                    <div class="icon"><i class="fas fa-envelope" aria-hidden="true"></i></div>
                    <div class="text">clivetc@live.com</div>
                  </div>
                </li>
                <li>
                  <div class="li_wrap">
                    <div class="icon"><i class="fas fa-map-marker" aria-hidden="true"></i></div>
                    <div class="text">SHT Kemal Unal Caddesi, No.69 Nicosia</div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="skills_wrap pb">
            <div class="title">
              Skills
            </div>
            <div class="skills">
              <ul>
                <li>
                  <div class="li_wrap">
                    <div class="icon"><i class="fab fa-html5"></i></div>
                    <div class="text">HTML</div>
                  </div>
                </li>
                <li>
                  <div class="li_wrap">
                    <div class="icon"><i class="fas fa-database"></i></div>
                    <div class="text">SQL</div>
                  </div>
                </li>
                <li>
                  <div class="li_wrap">
                    <div class="icon"><i class="fab fa-python"></i></div>
                    <div class="text">Python</div>
                  </div>
                </li>
                <li>
                  <div class="li_wrap">
                    <div class="icon"><i class="fab fa-vuejs"></i></div>
                    <div class="text">Vue.JS</div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="hobbies_wrap pb">
            <div class="title">
              hobbies
            </div>
            <div class="hobbies">
              <ul>
                <li>
                  <div class="li_wrap">
                    <div class="icon"><i class="fas fa-book"></i></div>
                    <div class="text">Reading</div>
                  </div>
                </li>
                <li>
                  <div class="li_wrap">
                    <div class="icon"><i class="fas fa-music"></i></div>
                    <div class="text">Music</div>
                  </div>
                </li>
                <li>
                  <div class="li_wrap">
                    <div class="icon"><i class="fas fa-gamepad"></i></div>
                    <div class="text">Gaming</div>
                  </div>
                </li>
                <li>
                  <div class="li_wrap">
                    <div class="icon"><i class="fas fa-dumbbell"></i></div>
                    <div class="text">Gym</div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="right">
          <div class="header">
            <div class="name_role">
              <div class="name">
                Tendai Clive Chikwape
              </div>
              <div class="role">
                Junior Developer, DevOps Engineer
              </div>
            </div>
            <div class="about">
            I am a stunning and well-presented candidate. I am a dynamic, well-spoken and vibrant individual who is intrigued by cutting edge technology. I describe myself as creative, determined, social and an ambitious individual who is never limited by boundaries. I am driven by pushing the boundaries of the ordinary and creating the best out of every situation. I am dedicated to my work and I always an extra mile to get my job done to satisfactory. 
            </div>
          </div>
          <div class="right_inner">
            <div class="exp">
              <div class="title">
                experience
              </div>
              <div class="exp_wrap">
                <ul>
                  <li>
                    <div class="li_wrap">
                      <div class="date">
                        July 2019- September 2019
                      </div>
                      <div class="info">
                        <p class="info_title">
                          Software Developer(Intern)
                        </p>
                        <p class="info_com">
                          Near East University(Robotics Lab)
                        </p>
                        <p class="info_cont">
                          At Near East Contributed to the development of miniature projects using python and Flask. Also worked with microprocessor like Arduino and Raspberry pi. 
                        </p>
                      </div>
                    </div>
                  </li>
            </div>
            <div class="education">
              <div class="title">
                Education
              </div>
              <div class="education_wrap">
                <ul>
                  <li>
                    <div class="li_wrap">
                      <div class="date">
                        2017 - 2021
                      </div>
                      <div class="info">
                        <p class="info_title">
                          Computer Information Systems
                        </p>
                        <p class="info_com">
                          Near East University
                        </p>
                        <p class="info_cont">
                          In the 2018/19 Fall semester, 19/20 Spring Semester and 2020/2021 Fall semester I received certificate of appreciation for having a GPA of 3.20 out 4. I excelled in programming courses and some business-related courses. I received and IEEE certificate 2019 expected GPA 3.
                        </p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="li_wrap">
                      <div class="date">
                        2012 - 2013
                      </div>
                      <div class="info">
                        <p class="info_title">
                          Telecommunication Systems
                        </p>
                        <p class="info_com">
                          City & Guilds
                        </p>
                        <p class="info_cont">
                          I have a City and Guilds Telecommuication Systems and part diploma were I got to understand elctronic communication from the basics.
                        </p>
                      </div>
                    </div>
                  </li>

										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>